@model cloudscribe.Pagination.Models.PagedResult<Cars.Models.Car>

@{
    ViewData["Title"] = "Guest View";
}

<h2>Guest View</h2>

@foreach (var car in Model.Data)
{
    <div>
        <h3>@car.Make.Name @car.Model.Name</h3>
        <p>Year: @car.Year | Price: @car.Price @car.Currency</p>
    </div>
}

